.senha-numero {
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
  margin: 20px 0;
}

.tipo-desc {
  font-size: 0.8rem;
  color: var(--ion-color-medium);
  margin: -10px 0 16px 0;
  text-align: center;
}

ion-button {
  margin-bottom: 4px;
}
