.senha-destaque {
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: 4px;
  text-align: center;
}

.guiche-info {
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}
